.container-fluid {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  background-image: url("https://placekitten.com/1200/800");
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.main {
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  text-align: center;
}
